@import 'styles/typography';
@import 'styles/colors';
@import 'styles/vars';

.wrapper {
  width: 100%;
  height: 100dvh;

  &__button {
    margin: auto;
    margin-top: 50px;
    max-width: max-content;
  }

  &__countdown {
    @extend %headline-4;
    @extend %flex-center;
    opacity: 0;
    margin: 0 auto;
    height: 50px;
    max-width: 50px;
    min-width: 50px;
    border-top: 0;
    color: $text;
    transition: 0.3s opacity;
    border-radius: 0 0 8px 8px;
    background-color: #fff;
    border: 1px solid $lightgray;
    box-shadow: 1px 12px 24px $darkgray;

    @media (max-width: 768px) {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }

    &__visible {
      opacity: 1;
    }
  }

  &__tooltip {
    @extend %body-14;
    width: max-content;
    padding: 4px 8px;
    color: $white;
    background-color: $primary;
    border-radius: 8px;
    transition: 0.3s opacity;
    opacity: 0;

    @media (max-width: 768px) {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }

    &__active {
      opacity: 1;
    }

    &__container {
      margin: auto;
      margin-top: 8px;
      width: 100%;
      max-width: 75%;

      @media (max-width: 768px) {
        max-width: 90%;
      }
    }
  }
}

.header__title {
  width: 100%;
  padding: 32px;
  @extend %headline-1;
  color: $text;

  @media (max-width: 768px) {
    padding: 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}

.input {
  width: 0;
  height: 0;
  border: none;
  position: absolute;
}
