@import 'styles/typography';
@import 'styles/colors';
@import 'styles/vars';

.wrapper {
  @extend %flex-center;
  gap: 16px;
  margin: 0 auto;
  padding: 16px;
  width: max-content;
  border-radius: 8px;
  margin-top: 24px;
  background-color: #fff;
  border: 1px solid $lightgray;
  box-shadow: 1px 12px 24px $darkgray;

  @media (max-width: 768px) {
    padding: 8px;
    margin-top: 8px;
  }

  @media (max-width: 576px) {
    gap: 4px;
    flex-direction: column;
  }

  &__row {
    @extend %flex-center;
    gap: 16px;
  }

  &__line {
    width: 1px;
    height: 25px;
    background-color: $text;

    @media (max-width: 576px) {
      width: 100%;
      height: 1px;
    }
  }

  &__text {
    @extend %headline-4;
    cursor: pointer;
    color: $text;
    transition: color 0.3s;

    @media (max-width: 768px) {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }

    &__active {
      color: $secondary;
    }
  }
}
